:root {
  --main-colour: #ebe7dc;
  --task-colour: #d8c3e0;
  --border-text-colour: #4f3673;
  --delete-button-colour: #938598;
  --placeholder-colour: #b294dd;
  --warning-text-colour: hsl(348, 96%, 73%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  min-width: 1550px;
  min-height: 500px;

  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.app_container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 60%;
  height: 80%;
  border: 3px solid var(--border-text-colour);
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;

  background-color: var(--main-colour);
}

h1 {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border-bottom: 3px solid var(--border-text-colour);
  border-top: 3px solid var(--border-text-colour);

  background-color: var(--task-colour);

  text-align: center;
  color: var(--border-text-colour);
  font-weight: bold;
}

.todo_container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  margin-top: 20px;

  font-size: 25px;
}

.add_task_line {
  display: flex;
  align-items: center;

  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

#Input_task {
  flex: 1;

  margin-right: 1%;
  padding: 5px;
  border: 3px solid var(--border-text-colour);

  background-color: var(--task-colour);

  font-size: 25px;
  color: var(--border-text-colour);
  font-weight: bold;
}

#Warning_message {
  display: flex;
  align-items: flex-end;

  border: 3px solid var(--border-text-colour);
  padding: 5px;
  margin-top: 5px;

  background-color: var(--warning-text-colour);

  color: var(--border-text-colour);
  font-weight: bold;
}

#Input_task::placeholder {
  color: var(--placeholder-colour);
}

#Add_task_button {
  font-size: 25px;
  padding: 5px;
  background-color: var(--task-colour);
  color: var(--border-text-colour);
  border: 3px solid var(--border-text-colour);
  font-weight: bold;

  cursor: pointer;
}

#Show_list {
  width: 96%;
  margin-top: 10px;

  font-size: 25px;
}

#Show_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 5px;
  padding: 5px;
  border: 3px solid var(--border-text-colour);

  background-color: var(--task-colour);

  list-style: none;
  color: var(--border-text-colour);
  font-size: 25px;
}

#Show_list button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 35px;
  border: 3px solid var(--border-text-colour);
  margin-left: 10px;

  background-color: var(--delete-button-colour);

  font-size: 25px;
  font-weight: bold;
  color: var(--border-text-colour);

  cursor: pointer;
}

#Show_list .right_side {
  display: flex;
  align-items: center;
}

.done span {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}

#Show_list input[type="checkbox"] {
  appearance: none;
  width: 35px;
  height: 35px;
  border: 3px solid var(--border-text-colour);

  position: relative;

  cursor: pointer;
}

#Show_list input[type="checkbox"]:checked::after {
  content: "✓";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--border-text-colour);
  font-size: 25px;
  font-weight: bold;
}
